[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.svg,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=4

[*.css]
indent_style=space
indent_size=4

[{*.ats,*.ts}]
indent_style=space
indent_size=4

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.md,*.mkd,*.markdown}]
indent_style=space
indent_size=4
max_line_length = 0

[COMMIT_EDITMSG]
max_line_length = 0

